<br />
<h2>Guide d'utilisation</h2>
<p>Le projet JeuxDeMots (JDM) vise à construire un réseau lexical et sémantique du Français (rezoJDM). Une telle base de connaissances est utile pour de nombreuses applications, dont l'analyse sémantique de textes, la recherche d'informations, la traduction automatique, ...
</p>
<p>
	Ce site client a été créé afin d'explorer les données de JDM. Il fournit une barre de recherche qui permet d'effectuer differents types de recherche.
</p>
<p>
	L'utilisateur peut rechercher un terme et afficher toutes ses relations, triées par type.
	L'utilsateur peut aussi rechercher toutes les relations appartenant à un type de relations en utilisant la liste déroulante fournie.
</p>
<p>
	Ce site client permet de trier les relations affichées par ordre décroissant de poids, ou par ordre alphabétique croissant.
</p>
<p>
	La valeur absolue des poids a été utilisée pour effectuer le tri. Quand une relation est bleue, cela indique que le poids est negatif.
</p>
<p>
	Le serveur utilise la pagination afin de livrer des resultats rapidement. Quand un terme est demandé, des données initiales sont envoyés (les x premières definitions, et les x premiers termes de chaque type de relation). Quand l'utilisateur souhaite voire plus de données, les prochaines x lignes sont envoyées. Ceci rend l'affichage et la navigation rapide.
</p>

